body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

/* Styling Logo Button */

#logo {
  color: #fff;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}

/* Navigation */

.nav-link {
  color: #47b2e4;
  text-decoration: none;
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.nav-menu .a:hover, .nav-menu .active>.a, .nav-menu li:hover>.a {
  color: #47b2e4;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-toggle {
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

/* Hero */

#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

/* MEDIA */

@media(min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 20px 7px 20px;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}

@media (max-width: 1024px) {
  .why-us .content, .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }
  .why-us .content {
    padding-top: 30px;
  }
  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

@media(max-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

@media(max-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}